<head>
	<meta property= "og:title" content="김지홍 | 金志洪"/>
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://jihongeek.com" />
  <meta property="og:image" content="https://jihongeek.com/og_image.png" />
  <meta property="og:description" content="김지홍 소개페이지" />
  <meta name="twitter:card" content="summary_large_image">
  <title>김지홍 | 金志洪</title>
</head>
<body>
<main>
  <img src="Logo.svg" width="90px" height="90px" alt="김지홍 토마토 로고">
  <h2>김지홍 | Jihong Kim | 金志洪</h2>
  <p>
    안녕하세요. 웹 프론트엔드 개발자 김지홍입니다.
주로 웹에서 사용자가 보고 상호작용할 수 있는 소프트웨어를 만들며,  제가 만든 소프트웨어가 사용될 때 큰 기쁨을 느낍니다.
  </p>

  <p>
    현재, <a href="https://ko.wikipedia.org/wiki/%EC%B0%BD%EC%9B%90%EC%8B%9C" target="_blank">경상남도 창원시</a>에서 살고 있습니다. 
거의 매일 개발을 하지만, 좋은 음악 및 영화 감상, 웹서핑을 즐기며 <a href="https://www.nubija.com/info/nubija" target="_blank">누비자</a>를 타기도 합니다.
  </p>
  <p>
    아래에서도 저를 만나실 수 있습니다.
  </p>
  <p>
    <a href="https://github.com/jihongeek" target="_blank"> 깃허브</a>,
    <a href="/blog" > 블로그</a>
  </p>
  <h1>전하는 말</h1>
  <p>
    현재, 전업 프론트엔드 개발자를 목표로 구직 중에 있습니다. 
    (재택근무가 기본 정책이거나 창원과 가까운 경남, 부산 지역)
    혹시 저와 일하시고 싶은 생각이 있으시면, <a href="mailto:jihongeek.work@gmail.com" target="_blank">이메일</a>을 보내주세요.
  </p>
</main일
</body>
