

<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="introduction page and blog of jihongeek">
		<link rel="preload" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css" />	
		<title>김지홍 | 金志洪</title>
		<style is:global>

			body {
				display: flex;
				justify-content: center;
				font-family: 'Pretendard Variable', sans-serif;
				background-color: rgb(255, 255, 240);
				color : rgb(22,58,0);
				margin: 0px 0px;
				word-break: keep-all;
			}

			main {
				margin: 48px 16px;
				line-height: 1.5;
			}
			@media (min-width: 350px) {
				main {
					width: 350px;
				}
			
			}

			@media (min-width: 768px) {
				main {
				width: 768px;
				}
			
			}
			p {
				text-align: left;
				font-size: 1.35em;
				max-width: 32em;
			}

			a {
				color: rgb(140, 63, 0);
			}

			a:link,
			a:visited {
				text-decoration: rgb(140, 63, 0) solid underline;
			}

			button {
				border: 2.35px solid;
				border-color: rgb(22, 58, 0);
				background-color: rgb(255, 255, 240);
				color: rgb(22, 58, 0);
				font-family: inherit;
				font-size: 1.2em;
				padding: 10px 20px;
			}

			button:hover {
				background-color: rgb(22, 58, 0);
				color: rgb(255, 255, 240);
			}
		</style>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		width: 100%;
	}
</style>
